

<div class="banner2">
  <img class="avatarpic" src="https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=801&q=80/200" width="300" height="300">
  <div class="details">
    <h1><%=current_user.first_name%> <%=current_user.last_name%></h1>
    <p><%=current_user.email%></p>
    <p><%=current_user.phone_number%></p>
  </div>
  <div class="buttonsprofile">
    <div class="buttonedit">
      <%=link_to "Edit"%>
    </div>
    <div class="buttonedit">
      <%=link_to "Delete"%>
    </div>
  </div>
</div>


  <div>
    <div class="contain2">
      <h3>My Locations:</h3>
        <div class="contain2.1">
            <div class="row">
              <%@my_locations.each do |location|%>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="cards-mine">
                    <%=link_to (cl_image_tag location.photo), location_path(location), height: 200, width: 300, crop: :fill %>
                    <div class="cards-mine-description">
                      <h4><%= link_to location.title, location_path(location)%></h4>
                      <p><%=location.address%></p>
                      <p><%=location.description%></p>
                      <h6><%=location.price%>,00€ / night</h6>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
    <div class="contain2">
      <h3>Received bookings:</h3>
        <div class="contain2.1">
          <div class="row">
            <%@received_bookings.each do |booking|%>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="cards-mine1">
                  <a href=<%= location_path(booking.location) %>><%= cl_image_tag booking.location.photo, height: 200, width: 300, crop: :fill %></a>
                  <div class="cards-mine-description">
                    <h4><%= link_to booking.location.title, location_path(booking.location)%></h4>
                    <p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
                    <p><%= booking.type_of_party %></p>
                    <p><%=booking.location.address%></p>
                    <p><%=booking.location.description%></p>
                    <p><%= booking.start_time %></p>
                    <p><%= booking.end_time %></p>
                    <p><%=booking.location.price%>,00€ / night</p>
                    <h6><%=booking.status%></h6>
                  </div>
                  <div class= "declineaccept">
                    <div class="buttonaccept">
                      <%=link_to "Accept"%>
                    </div>
                    <div class="buttonaccept">
                      <%=link_to "Decline"%>
                    </div>
                  </div>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <div class="contain2">
      <h3>My Requests:</h3>
        <div class="contain2.1">
          <div class="row">
            <%@my_bookings.each do |booking|%>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="cards-mine1">
                   <a href=<%= location_path(booking.location) %>><%= cl_image_tag booking.location.photo, height: 200, width: 300, crop: :fill %></a>
                  <div class="cards-mine-description">
                   <h4><%= link_to booking.location.title, location_path(booking.location)%></h4>
                    <p><%= booking.location.address %></p>
                    <p><%=booking.location.description%></p>
                    <p><%= booking.location.size %> sqm</p>
                    <p><%= booking.start_time %></p>
                    <p><%= booking.end_time %></p>
                    <p><%=booking.location.price%>,00€ / night</p>
                    <h6><%=booking.status%></h6>
                    <%= link_to "Add Review", new_location_booking_review_path(booking.location_id, booking.id, @review) %>
                  </div>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


