<h1>Edit your Location</h1>

<%= simple_form_for @location do |f| %>
       <%= f.input :title %>
       <%= f.input :address %>
       <%= f.input :description %>
       <%= f.input :size %>
       <%= f.input :price%>
       <%= f.input :tags%>
       <%= f.button :submit, class: 'btn btn-warning' %>
     <% end %>
<div class="footer">
  <div class="footer-links">
    <i class="fab fa-github"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-linkedin"></i>
  </div>
</div>
