
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>List a new location:</h1>

      <%= simple_form_for @location do |l| %>
        <%= l.input :title %>
        <%= l.input :address %>
        <%= l.input :description %>
        <%= l.input :size %>
        <%= l.input :price%>
        <%= l.input :tags%>
        <%#= l.input :photo %>
        <%#= l.input :photo_cache, as: :hidden %>
        <%= l.button :submit, class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
</div>

