<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>List a new location:</h1>

      <%= simple_form_for @location do |l| %>
        <%= f.input :title %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :size %>
        <%= f.input :price%>
        <%= f.input :tags%>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
</div>
