    <!-- IMAGE BANNER  -->
    <div class="location-image-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path @location.photo, crop: :fill %>')">
    </div>

    <!-- LOCATION DESCRIPTION, MAP & BOOKING FORM NEXT TO EACH OTHER -->

 <div class="container-description-map-booking">
      <div class="row">

        <!-- LOCATION INFO -->
        <div class="col-md-4 col-sm-12">
          <div class="container-description">

           <h1 class="header1"><%=@location.title.capitalize%></h1>
           <div class="container-tags-owner">

            <div class="row">

              <div class="col-6 container-heading-tags">
               <ul class="list-inline">
                <%@location.tags.each do |tags|%>
                <li class="list-inline-item"><%="#" + tags%>
                 <%end%>
               </ul>
             </div>

             <div class="col-6 owner-info">
              <%= image_tag('ximena.png', witdth: 50, height: 50, alt: "User's avatar", class: "avatarpic") %>
              <p>owned by <%=@user.first_name%> <%=@user.last_name%></p>
            </div>
          </div>
        </div>

        <p><strong>What to expect?<br></strong><%=@location.description%></p>
        <p><strong>Where to find?<br></strong><%=@location.address%></p>
        <p><strong>How big?<br></strong><%=@location.size%>m2</p>
        <p><strong>How much?<br></strong><%=@location.price%>,00 €</p>



      </div>


    </div>

    <!-- MAP -->
    <div class="col-md-4 padding-none col-sm-12">
      <div class="map">
        <div id="map">
          <script src=<%= "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google_maps_api_key}&libraries=geometry" %>>
          </script>
          <script>
            var locationLat = parseFloat(<%= @location.latitude %>, 10)
            var locationLng = parseFloat(<%= @location.longitude %>, 10)
            var positionmarker = {lat: locationLat, lng: locationLng};

            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: locationLat, lng: locationLng},
              zoom: 13});
            var marker = new google.maps.Marker({
              position: positionmarker,
              title:"Hello World!"
            });
            marker.setMap(map)

          </script>
        </div>
      </div>
    </div>

    <!-- BOOKING FORM -->
    <div class="col-md-4 col-sm-12 padding-center">
      <div class="booking-form-container">
       <div class="booking-form">
         <!-- button for text owner -->
         <%= form_for [@location, @booking] do |f| %>
         <div class="form-group">
           <%= f.label :type_of_party %>
           <%= f.text_field :type_of_party, class: 'form-control' %>
         </div>
         <div class="form-group">
           <%= f.label :start_time %>
           <%= f.datetime_field :start_time, class: 'form-control' %>
         </div>
         <div class="form-group">
           <%= f.label :end_time %>
           <%= f.datetime_field :end_time, class: 'form-control' %>
         </div>
         <%= f.submit class: 'wrapper-gradient', value: 'Book now!' %>
         <% end %>
       </div>
     </div>
   </div>

 </div>
</div>

<div class="col-6 review-container">

  <h2>What others had to say about <%= @location.title %></h2>

  <div class="review-cards-container">
    <% @location.reviews.each do |review| %>

    <div class="review-card">
      <div class="row">
        <div class="review-user-info">
          <%= image_tag('annika.jpg', witdth: 80, height: 80, alt: "User's avatar", class: "avatarpic") %>
         <p> <strong> <%= review.booking.user.first_name %> <%= review.booking.user.last_name %></strong></p>
       </div>
       <div class="rating-content">
       <p id = "pineapple-rating"> <strong>Rating:</strong>
         <% review.rating.to_i.times do  %>
          🍍
         <% end %>
       </p>
       <br>
       <p><%= review.content %></p>
     </div>
     </div>
   </div>
   <% end %>

 </div>
</div>

</div>






<!-- <div class="total_components">
  <div class="container2">
   <h1><%=@location.title.capitalize%></h1>
   <div class = "content">
     <p><strong>Description: </strong><%=@location.description%></p>
     <ul>
      <li><strong>Address: </strong><%=@location.address%></li>
      <li><strong>Size: </strong><%=@location.size%>m2</li>
      <li><strong>Price: € </strong><%=@location.price%></li>
    </ul>
    <h3>Tags: </h3>
    <ol>
      <%@location.tags.each do |tags|%>
      <li><%="#" + tags%>
       <%end%>
     </ol>
   </div>
   <div class="buttons">
     <%=link_to "Edit Location", edit_location_path(@location), class: "btn1"%>
     <%=link_to "Locations Menu", root_path, class: "btn2"%>
     <%= link_to "Delete Location", location_path(@location),class: "btn3", :confirm => "Are you sure?", :method => :delete %>
   </div>
 </div>
 <div class="container3">
   <%= image_tag('avatar.png', witdth: 50, height: 50, alt: "User's avatar") %>
   <p><%=@user.first_name%></p>
   <!-- button for text owner -->
<!--    <div class="container4">
    <%= form_for [@location, @booking] do |f| %>
    <div class="form-group">
     <%= f.label :type_of_party %>
     <%= f.text_field :type_of_party, class: 'form-control' %>
   </div>
   <div class="form-group">
     <%= f.label :start_time %>
     <%= f.datetime_field :start_time, class: 'form-control' %>
   </div>
   <div class="form-group">
     <%= f.label :end_time %>
     <%= f.datetime_field :end_time, class: 'form-control' %>
   </div>
   <%= f.submit class: 'btn btn-warning' %>
   <% end %>
 </div>
</div>
</div> -->

<!--  locations.location_lat  locations.location_lng -->
<div id="mapcard">
  <div id="map">
    <script src=<%= "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google_maps_api_key}&libraries=geometry" %>>
    </script>
    <script>
      var locationLat = parseFloat(<%= @location.latitude %>, 10)
      var locationLng = parseFloat(<%= @location.longitude %>, 10)
      var positionmarker = {lat: locationLat, lng: locationLng};

      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: locationLat, lng: locationLng},
        zoom: 13});
      var marker = new google.maps.Marker({
        position: positionmarker,
        title:"Hello World!"
      });
      marker.setMap(map)

    </script>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <i class="fab fa-github"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-linkedin"></i>
  </div>
</div>





