<h1><%=@location.title%></h1>

<p>Description: <%=@location.description%></p>

<ul>
  <li>Address: <%=@location.address%></li>
  <li>Size: <%=@location.size%></li>
  <li>Price: <%=@location.price%></li>
</ul>
  <h3>Tags: </h3>
  <ol>
  <%@location.tags.each do |tags|%>
  <li><%="#" + tags%>
    <%end%>
 </ol>

<%=link_to "Edit your Location", edit_location_path(@location)%>
<%=link_to "Go back to the Locations", root_path%>
<%= link_to "Delete", location_path(@location), :confirm => "Are you sure?", :method => :delete %>

<div>
  <!-- create avatar for user -->
  <img src="avatar.png" alt="user's avatar" class="avatar">
  <p><%=@user.first_name%></p>

  <!-- button for text owner -->
  <a href="url">text owner</a>
  <p>€ <%=@location.price%></p>
  <!-- location dates -->

  <!--  start booking button  -->
</div>

  <%= form_for [@location, @booking] do |f| %>
    <div class="form-group">
      <%= f.label :type_of_party %>
      <%= f.text_field :type_of_party, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :start_time %>
      <%= f.datetime_field :start_time, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :end_time %>
      <%= f.datetime_field :end_time, class: 'form-control' %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
