<div>
  <h1><%=@location.title%></h1>
   <%= link_to "Back to all locations", root_path %>
  <br>
  <h3><%=@location.address%></h3>
  <p><%=@location.description%></p>
  <p><%=@location.tags%></p>
  <p><%=@location.size%> sq m</p>
</div>

<div>
  <!-- create avatar for user -->
  <img src="avatar.png" alt="user's avatar" class="avatar">
  <p><%=@user.first_name%></p>

  <!-- button for text owner -->
  <a href="url">text owner</a>
  <p>€ <%=@location.price%></p>
  <!-- location dates -->

  <!--  start booking button  -->
</div>


